# Configuração de Fuso Horário
# Ex: America/Sao_Paulo (Brasil), America/New_York (EUA), Europe/London (Reino Unido)
TZ=America/Sao_Paulo

# Chave de segurança para criptografia dos dados
SECRET_KEY=sua_chave_super_secreta_aqui
